/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* Header */
@import url(header.css);

:root {
    --background-navy: #0a182e;
    --background-navy-transparent: #0a192fee;
    --primary: #64ffda;
    --secondary: #f1ffff;
    --font-mono: "IBM Plex Mono", serif;
    --font-sans-serif: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--background-navy);
}