.main__projects {
    min-height: 100vh;
    background: linear-gradient(45deg, rgba(10, 24, 46, 100%), rgba(10, 24, 46, 75%)), url(../../img/main/projects.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.main__projects h2 {
    font-family: var(--font-sans-serif);
    color: var(--primary);
    font-size: 2rem;
    text-align: center;
}

.main__projects h2 span {
    color: var(--secondary);
}

.main__projects__boxes {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main__projects__boxes__item {
    width: 70vw;
    height: 400px;
    display: flex;
    box-shadow: 0 0 20px #000000AA;
    transition: 0.25s ease-in-out;
}

.main__projects__boxes__item:hover {
    transform: scale(1.015);
}

.main__projects__boxes__item__image {
    width: 50%;
    height: 100%;
    background: url(../../img/main/projects0.png);
    background-position: center;
    background-size: cover;
}

.main__projects__boxes__item + .main__projects__boxes__item .main__projects__boxes__item__image {
    width: 50%;
    height: 100%;
    background: url(../../img/main/projects1.png);
    background-position: center;
    background-size: cover;
}

.main__projects__boxes__item + .main__projects__boxes__item + .main__projects__boxes__item .main__projects__boxes__item__image {
    width: 50%;
    height: 100%;
    background: url(../../img/main/projects2.png);
    background-position: center;
    background-size: cover;
}

.main__projects__boxes__item + .main__projects__boxes__item + .main__projects__boxes__item + .main__projects__boxes__item .main__projects__boxes__item__image {
    width: 50%;
    height: 100%;
    background: url(../../img/main/projects3.png);
    background-position: center;
    background-size: cover;
}

.main__projects__boxes__item__text {
    width: 50%;
    height: 100%;
    background-color: var(--background-navy-transparent);
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__projects__boxes__item__text h3 {
    font-family: var(--font-mono);
    color: var(--primary);
    font-weight: 500;
}

.main__projects__boxes__item__text p {
    font-family: var(--font-sans-serif);
    color: var(--secondary);
    line-height: 150%;
}

.main__projects__boxes__item__text div {
    display: flex;
    gap: 1rem;
    font-family: var(--font-mono);
    font-size: 0.8rem;
    font-weight: 500;
}

.main__projects__boxes__item__text div a {
    color: var(--primary);
}

.main__projects__mobile {
    display: none;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.main__projects__mobile__item {
    background: linear-gradient(90deg, rgba(10, 24, 46, 100%), rgba(10, 24, 46, 75%)), url(../../img/main/projects0.png);
    background-size: cover;
    padding: 2rem;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.25s ease-in-out;
    gap: 2rem;
    margin: 12.5px;
    box-shadow: 0 0 20px #000000AA;
}

.main__projects__mobile__item h3 {
    font-family: var(--font-mono);
    color: var(--primary);
    font-weight: 500;
}

.main__projects__mobile__item p {
    font-family: var(--font-sans-serif);
    color: var(--secondary);
    font-size: 0.85rem;
    line-height: 150%;
}

.main__projects__mobile__item div {
    display: flex;
    gap: 1rem;
    font-family: var(--font-mono);
    font-size: 0.8rem;
    font-weight: 500;
}

.main__projects__mobile__item div a {
    color: var(--primary);
}

.main__projects__mobile__item:hover {
    transform: scale(1.015);
}

.main__projects__mobile__item + .main__projects__mobile__item {
    background: linear-gradient(90deg, rgba(10, 24, 46, 100%), rgba(10, 24, 46, 75%)), url(../../img/main/projects1.png);
    background-size: cover;
}

.main__projects__mobile__item + .main__projects__mobile__item + .main__projects__mobile__item {
    background: linear-gradient(90deg, rgba(10, 24, 46, 100%), rgba(10, 24, 46, 75%)), url(../../img/main/projects2.png);
    background-size: cover;
}

.main__projects__mobile__item + .main__projects__mobile__item + .main__projects__mobile__item + .main__projects__mobile__item{
    background: linear-gradient(90deg, rgba(10, 24, 46, 100%), rgba(10, 24, 46, 75%)), url(../../img/main/projects3.png);
    background-size: cover;
}

/* Media Query */

@media (max-width:1100px) {

    .main__projects__boxes {
        display: none;
    }

    .main__projects__mobile {
        display: grid;
    }

}

@media (max-width: 900px) {

    .main__projects__mobile {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 470px) {

    .main__projects__mobile__item {
        width: 350px;
    }

    .main__projects__mobile__item p {
        font-size: 0.75rem;
    }

}

@media (max-width: 420px) {

    .main__projects__mobile__item {
        width: 300px;
        height: 250px;
    }

    .main__projects__mobile__item h3 {
        font-size: 1rem;
    }

    .main__projects__mobile__item p {
        font-size: 0.65rem;
    }

    .main__projects__mobile__item div a {
        font-size: 0.75rem;
    }

}